<span
  class="ui-segmented-control__knob"
  [class.ui-segmented-control__knob--visible]="hasSelection()"
  aria-hidden="true"
></span>
@for (option of options(); track option.value; let i = $index) {
  <label
    class="ui-segmented-control__option"
    [class.ui-segmented-control__option--selected]="isSelected(i)"
  >
    <input
      type="radio"
      class="ui-segmented-control__input"
      [name]="groupName"
      [checked]="isSelected(i)"
      (change)="select(option)"
    />
    {{ option.label }}
  </label>
}
