<h1 class="weight-step__title">
  {{ 'signup.weightStep.titleStart' | translate }}
  <span class="weight-step__title-accent">{{ 'signup.weightStep.titleAccent' | translate }}</span>
</h1>
<p class="weight-step__subtitle">{{ 'signup.weightStep.subtitle' | translate }}</p>

<app-measure-stage
  [(value)]="state.weightKg"
  [min]="minKg"
  [max]="maxKg"
  [display]="weightText()"
  unitKey="common.unit.kg"
  decreaseKey="signup.weightStep.decrease"
  increaseKey="signup.weightStep.increase"
  rulerKey="signup.weightStep.rulerLabel"
  figureKey="signup.weightStep.figureLabel"
>
  <p class="weight-step__hint">{{ 'signup.weightStep.hint' | translate }}</p>
</app-measure-stage>
