<app-ui-sheet
  [open]="isOpen()"
  [title]="'weight.editSheet.titleStart' | translate"
  [titleAccent]="'weight.editSheet.titleAccent' | translate"
  scrollable
  (closed)="closed.emit()"
>
  <p class="weight-edit-sheet__when">{{ whenText() }}</p>

  <p class="weight-edit-sheet__value">
    <span class="weight-edit-sheet__number">{{ draftText() }}</span>
    <span class="weight-edit-sheet__unit">{{ 'common.unit.kg' | translate }}</span>
  </p>

  <app-weight-ruler-input
    class="weight-edit-sheet__ruler"
    [value]="draftKg()"
    (valueChange)="setDraft($event)"
  />

  @if (confirmingDelete()) {
    <p class="weight-edit-sheet__confirm">
      {{ 'weight.editSheet.confirmMessage' | translate: { when: whenText() } }}
    </p>
  }

  <div sheetFooter class="weight-edit-sheet__actions">
    @if (confirmingDelete()) {
      <button
        app-ui-button
        type="button"
        variant="danger"
        block
        class="weight-edit-sheet__confirm-delete"
        (click)="confirmDelete()"
      >
        {{ 'weight.editSheet.confirmDelete' | translate }}
      </button>
      <button app-ui-button type="button" variant="outline" block (click)="cancelDelete()">
        {{ 'weight.editSheet.cancel' | translate }}
      </button>
    } @else {
      <button app-ui-button type="button" block class="weight-edit-sheet__save" (click)="save()">
        {{ 'common.save' | translate }}
      </button>
      <button
        app-ui-button
        type="button"
        variant="outline-danger"
        block
        class="weight-edit-sheet__delete"
        (click)="askDelete()"
      >
        {{ 'weight.editSheet.delete' | translate }}
      </button>
    }
  </div>
</app-ui-sheet>
