<h1 class="height-step__title">
  {{ 'signup.heightStep.titleStart' | translate }}
  <span class="height-step__title-accent">{{ 'signup.heightStep.titleAccent' | translate }}</span>
  {{ 'signup.heightStep.titleEnd' | translate }}
</h1>
<p class="height-step__subtitle">{{ subtitle() }}</p>

<app-measure-stage
  [(value)]="state.heightCm"
  [min]="minCm"
  [max]="maxCm"
  [display]="state.heightCm()"
  unitKey="common.unit.cm"
  decreaseKey="signup.heightStep.decrease"
  increaseKey="signup.heightStep.increase"
  rulerKey="signup.heightStep.rulerLabel"
  figureKey="signup.heightStep.figureLabel"
  showCeiling
>
  <div class="height-step__bmi">
    <span class="height-step__bmi-caption">{{ 'signup.heightStep.bmiCaption' | translate }}</span>
    <span class="height-step__bmi-value">
      <span class="height-step__bmi-number">{{ bmiText() }}</span>
      <span class="height-step__bmi-unit">{{ 'signup.heightStep.bmiUnit' | translate }}</span>
    </span>
    <span class="height-step__bmi-note">{{ 'signup.heightStep.bmiNote' | translate }}</span>
  </div>
</app-measure-stage>
