<h1 class="account-step__title">
  {{ 'signup.accountStep.titleStart' | translate }}
  <span class="account-step__title-accent">{{ 'signup.accountStep.titleAccent' | translate }}</span>
</h1>
<p class="account-step__subtitle">{{ 'signup.accountStep.subtitle' | translate }}</p>

<form class="account-step__fields" [formGroup]="form" (submit)="$event.preventDefault()">
  <app-ui-text-input
    formControlName="username"
    [placeholder]="'signup.accountStep.username' | translate"
    [ariaLabel]="'signup.accountStep.username' | translate"
    autocomplete="username"
    [maxLength]="usernameMaxLength"
  />
  <app-ui-text-input
    formControlName="password"
    type="password"
    [placeholder]="'signup.accountStep.passwordPlaceholder' | translate"
    [ariaLabel]="'signup.accountStep.password' | translate"
    autocomplete="new-password"
    [maxLength]="passwordMaxLength"
  />
  <app-ui-text-input
    formControlName="passwordRepeat"
    type="password"
    [placeholder]="'signup.accountStep.passwordRepeat' | translate"
    [ariaLabel]="'signup.accountStep.passwordRepeat' | translate"
    autocomplete="new-password"
    [maxLength]="passwordMaxLength"
    [invalid]="mismatch()"
    invalidTone="accent"
  />
  <app-ui-form-error class="account-step__hint" [message]="hint()" tone="accent" />
</form>
