<button
  type="button"
  class="home-celebration-toast__button"
  [attr.aria-label]="'common.close' | translate"
  (click)="dismissed.emit()"
>
  <span class="home-celebration-toast__icon">
    <app-ui-icon name="check" size="md" [strokeWidth]="3" />
  </span>
  <span class="home-celebration-toast__text">
    <span class="home-celebration-toast__title">{{
      'home.celebrationToast.title' | translate
    }}</span>
    <span class="home-celebration-toast__subtitle">{{
      'home.celebrationToast.subtitle' | translate
    }}</span>
  </span>
</button>
