<button
  class="weight-ruler-input__step weight-ruler-input__step--minus"
  type="button"
  [attr.aria-label]="'weight.rulerInput.minus' | translate"
  (click)="step(-1)"
>
  −
</button>
<app-ui-ruler
  size="lg"
  [ariaLabel]="'weight.rulerInput.ariaLabel' | translate"
  [min]="minKg"
  [max]="maxKg"
  [step]="stepKg"
  [value]="value()"
  [glowStrength]="glowStrength"
  (valueChange)="emit($event)"
/>
<button
  class="weight-ruler-input__step weight-ruler-input__step--plus"
  type="button"
  [attr.aria-label]="'weight.rulerInput.plus' | translate"
  (click)="step(1)"
>
  +
</button>
