<app-auth-backdrop gradient />

<div class="forgot-password-page__content">
  <div class="forgot-password-page__top">
    <button
      app-ui-icon-button
      type="button"
      size="md"
      tone="translucent"
      [attr.aria-label]="'common.back' | translate"
      (click)="back()"
    >
      <app-ui-icon name="chevron-left" size="xl" />
    </button>
    <img class="forgot-password-page__logo" [src]="logoSrc" alt="" />
  </div>

  <div class="forgot-password-page__spacer"></div>

  <form class="forgot-password-page__step" [formGroup]="form" (ngSubmit)="send()">
    @if (sent()) {
      <h1 class="forgot-password-page__heading">
        {{ 'auth.forgotPasswordPage.sentTitle' | translate }}
      </h1>
      <p class="forgot-password-page__body">
        {{ 'auth.forgotPasswordPage.sentBody' | translate }}
      </p>
    } @else {
      <h1 class="forgot-password-page__heading">
        {{ 'auth.forgotPasswordPage.emailTitleStart' | translate }}
        <span class="forgot-password-page__heading-accent">{{
          'auth.forgotPasswordPage.emailTitleAccent' | translate
        }}</span>
      </h1>
      <p class="forgot-password-page__body">
        {{ 'auth.forgotPasswordPage.emailBody' | translate }}
      </p>
      <div class="forgot-password-page__field">
        <app-ui-text-input
          formControlName="identifier"
          autocomplete="username"
          [placeholder]="'auth.forgotPasswordPage.identifierLabel' | translate"
          [ariaLabel]="'auth.forgotPasswordPage.identifierLabel' | translate"
          translucent
        />
      </div>
    }
    @if (errorKey(); as key) {
      <app-ui-form-error [message]="key | translate" tone="negative" />
    }
    <div class="forgot-password-page__actions">
      <button app-ui-button type="submit" size="md" [loading]="loading()">
        {{ submitLabelKey() | translate }}
      </button>
    </div>
    <p class="forgot-password-page__footnote">
      {{ 'auth.forgotPasswordPage.rememberIt' | translate }}
      <a class="forgot-password-page__link" [routerLink]="loginPath">{{
        'auth.forgotPasswordPage.logIn' | translate
      }}</a>
    </p>
  </form>
</div>
